*{
    margin: 0;
    padding: 0;
}

body{
    background: lightgray;
    overflow-x: hidden;
}



.container{
  
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.active{
    width: 800px;
}

.imageCard{
    height: 600px;
    width: 100px;
    border-radius: 50px; 
    transition: ease-in-out 300ms;
    
}

